In [ ]:
#W.a.p to find the sum of 'n' numbers
n=int(input("enter the value of n:"))
r=0
for i in range(1,n+1):
  r=r+i
print("sum of",n,'=',r)

enter the value of n:10
sum of 10 = 55

In [ ]:
u=int(input("enter the unit consumed:"))
rent=200
bamt=0.0
if(u<=100):
  bamt=(u*1)+rent
elif(u>100 and u<=200):
  bamt=(1*100)+((u-100)*1.5)+rent
elif(u>200 and u<=350):
  bamt=(1*100)+(1.5*100)+((u-200)*2)+rent
else:
  bamt=(1*100)+(1.5*100)+(2*150)+((u-350)*3)+rent
print("electricity bill=",bamt)

enter the unit consumed:100
electricity bill= 300

In [ ]:
u=int(input("enter the calls consumed:"))
rent=350
bamt=0.0
if(u<=100):
  bamt=(u*4)+rent
elif(u>100 and u<=200):
  bamt=(4*100)+((u-100)*4.50)+rent
elif(u>200 and u<=350):
  bamt=(4*100)+(4.5*100)+((u-200)*5)+rent
else:
  bamt=(4*100)+(4.5*100)+(5*150)+((u-350)*5.50)+rent
print("electricity bill=",bamt)

enter the calls consumed:100
electricity bill= 750

In [ ]:
n=int(input("enter the value of n:"))
for i in range(1,n+1):
  if(i%3==0):
    if(i%5==0):
      print(i,"is divisble by 3 and 5")
    else:
       print(i,"is divisble by 3 and not by 5")
  else:
    print(i,"not divisble by 3")

enter the value of n:16
1 not divisble by 3
2 not divisble by 3
3 is divisble by 3 and not by 5
4 not divisble by 3
5 not divisble by 3
6 is divisble by 3 and not by 5
7 not divisble by 3
8 not divisble by 3
9 is divisble by 3 and not by 5
10 not divisble by 3
11 not divisble by 3
12 is divisble by 3 and not by 5
13 not divisble by 3
14 not divisble by 3
15 is divisble by 3 and 5
16 not divisble by 3

In [ ]:
n=int(input("enter the value of n:"))
x=int(input("enter x:"))
s=0
for i in range(0,n+1):
  if(i%2==0):
    s=s+(x**i)
  else:
    s=s-(x**i)
print("the solution is:",s)

enter the value of n:3
enter x:2
the solution is: -5

In [ ]:
n=int(input("enter the value of n:"))
x=int(input("enter x:"))
s=0
for i in range(1,n+1):
  s=s+((x**i)/i)
print("the solution is:",s)

enter the value of n:3
enter x:2
the solution is: 6.666666666666666

In [ ]:
#w.a.p to check if a given number is palidrome or not
n=int(input("Enter the value of n:"))
s=0
t=n
while(n>0):
  r=n%10
  s=r+(s*10)
  n=n//10
if(t==s):
  print(t,"is a palindrome number.")
else:
  print(t,"not a palindrome number.")

Enter the value of n:121
121 is a palindrome number.

In [ ]:
n=int(input("Enter the value of n:"))
s=n*n
t=len(str(n))
v=s%(10**t)
if(n==v):
  print(n,"is an automorphic number")
else:
  print(n,"is not an automorphic number")

Enter the value of n:890625
890625 is an automorphic number

In [ ]:
#w.a.p to find the sum of odd and even numbers for n natural numbers:
n=int(input("Enter the value of n:"))
se=so=0
for i in range(1,n+1):
  if i%2==0:
    se=se+i
  else:
    so=so+i
print("Sum of even numbers:",se,"\nSum of odd numbers:",so)

Enter the value of n:10
Sum of even numbers: 30
Sum of odd numbers: 25

In [ ]:
#w.a.p to generate fibonacci series:
n=int(input("Enter the value of n:"))
f1=0
f2=1
f3=0
print(f1,"\n",f2)
for i in range(1,n-1):
  f3=f1+f2
  print(f3)
  f1=f2
  f2=f3

Enter the value of n:5
0
 1
1
2
3

In [ ]:
#w.a.p to check whether n is prime or not
n=int(input("Enter the value of n:"))
fg=0
for i in range(2,n):
  if(n%i==0):
    fg=0
    break
  else:
    fg=1
if(fg==0):
  print(n,"Is not a prime number")
else:
  print(n,"Is a prime number")

Enter the value of n:2
2 Is not a prime number

In [ ]:
#predict the o/p:
product=1
sum_sq=0
for i in range(10,5,-3):
  product*=i
  i_sq=i**2
  sum_sq+=i_sq
print("product is=",product)
print("sum of sequence is=",sum_sq)

product is= 70
sum of sequence is= 149

In [ ]:
#practice:
for i in range(1,10):
  if(i==5):
    continue
  else:
    print(i)
else:
  print("success")

1
2
3
4
6
7
8
9
success

In [ ]:
#nested for loop:
for i in range(0,2):
  for j in range(0,2):
    print(i,j)
  print()

0 0
0 1

1 0
1 1

In [ ]:
#nested example question:
n=int(input("Enter the value of n:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print("\n")

Enter the value of n:5
*

* *

* * *

* * * *

* * * * *

In [ ]:
#inverse nested example question 2:
n=int(input("Enter the value of n:"))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print('*',end=' ')
  print("\n")

Enter the value of n:5
* * * * *

* * * *

* * *

* *

*

In [ ]:
#nested example question 3:
n=int(input("Enter the value of n:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print("\n")

Enter the value of n:5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
#inverse nested example question 4:
n=int(input("Enter the value of n:"))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(i,end=' ')
  print("\n")

Enter the value of n:5
5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [ ]:
for i in range(2,4):
  for j in range(1,11):
    m=i*j
    print('\n',i,'*',j,"=",m,)

 2 * 1 = 2

 2 * 2 = 4

 2 * 3 = 6

 2 * 4 = 8

 2 * 5 = 10

 2 * 6 = 12

 2 * 7 = 14

 2 * 8 = 16

 2 * 9 = 18

 2 * 10 = 20

 3 * 1 = 3

 3 * 2 = 6

 3 * 3 = 9

 3 * 4 = 12

 3 * 5 = 15

 3 * 6 = 18

 3 * 7 = 21

 3 * 8 = 24

 3 * 9 = 27

 3 * 10 = 30

In [ ]:
#wap for ord function:
n=int(input("Enter the value of n:"))
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print("\n")

Enter the value of n:5
A

A B

A B C

A B C D

A B C D E

In [ ]:
#wap for ord function 2:
n=int(input("Enter the value of n:"))
for i in range(n,0,-1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print("\n")

Enter the value of n:5
A B C D E

A B C D

A B C

A B

A

In [ ]:
#w.a.p both ord function 1 and 2 combined:
n=int(input("Enter the value of n:"))
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print("\n")
for i in range(n,0,-1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print("\n")

Enter the value of n:5
A

A B

A B C

A B C D

A B C D E

A B C D E

A B C D

A B C

A B

A

In [ ]:
n=int(input("Enter the value of n:"))
for i in range(n,0,-1):
  for j in range(68,68-i,-1):
    print(chr(j),end=' ')
  print("\n")

Enter the value of n:4
D C B A

D C B

D C

D

In [ ]:
#wa.a.p to check out of loop:
i=1
while i<=10:
  if(i!=5):
    print(i)
    i+=1
  else:
    i+=1
    continue
print("out of loop")

1
2
3
4
6
7
8
9
10
out of loop

In [ ]:
n=int(input("Enter the value of n:"))
ch=65
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(ch),end=' ')
    ch+=1
  print("\n")

Enter the value of n:5
A

B C

D E F

G H I J

K L M N O

In [ ]:
#wap for backward indexing
s='aryan'
for i in range(-1,-len(s)-1,-1):
  print(s[i])

n
a
y
r
a

In [ ]:
s='python'
s[5:2:-1]

'noh'

In [ ]:
#write a program to accept a string to count the no. of times a chr appears in a string 
s=input("Enter the str:")
chr=input("Enter search chr:")
c=0
for i in range(len(s)):
  if s[i]==chr:
    c+=1
print(chr,"appears",c,"times")

Enter the str:manam
Enter search chr:a
a appears 2 times

In [ ]:
s=input("Enter the string:")
t=0
s1=0
for i in range(len(s)):
  if s[i].isdigit()==True:
    t=int(s[i])
    s1=t+s1
print('sum of digits=',s1)

Enter the string:ac12ac56
sum of digits= 14

In [ ]:
l3=[1,2,3,[0,23,33,44,[10,101,110]],21,24,43]
l3[3][4][2]

110

In [ ]:
#w.a.p to accept n items in a list and to find the sum of all the items
n=int(input("Enter the value of n:"))
L=[0]*n
for i in range(n):
  L[i]=int(input("Enter the item for list:"))
s=0
for i in range(n):
  s=s+L[i]
print(s)
m=s/n
print("Mean:",m)

Enter the value of n:3
Enter the item for list:3
Enter the item for list:3
Enter the item for list:3
9
Mean: 3.0

In [ ]:
s=eval(input("Enter the value:"))
print(s,"it's type=",type(s))

Enter the value:(1,1,1,1)
(1, 1, 1, 1) it's type= <class 'tuple'>

In [ ]:
l=[10,20,30,12]
n=int(input("enter n:"))
l.append(n)
print(l)

enter n:23
[10, 20, 30, 12, 23]

In [ ]:
ls=['java','python','c++']
ls[2:-1]
print(ls)

['java', 'python', 'c++']

In [ ]:
#wap to accept values for 3x3 matrix:
l=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    print('enter the value of (',i,",",j,")")
    l[i][j]=int(input())
for i in range(3):
  for j in range(3):
    print(l[i][j],end=" ")
  print("\n")

enter the value of ( 0 , 0 )
1
enter the value of ( 0 , 1 )
2
enter the value of ( 0 , 2 )
3
enter the value of ( 1 , 0 )
4
enter the value of ( 1 , 1 )
5
enter the value of ( 1 , 2 )
6
enter the value of ( 2 , 0 )
7
enter the value of ( 2 , 1 )
8
enter the value of ( 2 , 2 )
9
1 2 3

4 5 6

7 8 9

In [ ]:
l=[i for i in range(1,10)] 
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=[i**2 for i in range(1,6)]
print(l)

[1, 4, 9, 16, 25]

In [ ]:
x='hello'
l2=[i.upper() for i in x]
print(l2)

['H', 'E', 'L', 'L', 'O']

In [ ]:
l=[i*7 for i in range(1,8)]
print(l)

[7, 14, 21, 28, 35, 42, 49]

In [ ]:
f={}
l=['a','b','c','a','c']
for index in l:
  if index in f:
    f[index]+=1
  else:
    f[index]=1
print(len(f))
print(f)

3
{'a': 2, 'b': 1, 'c': 2}

In [ ]:
d={'a':'python','b':'java','c':'c++'}
mylist=d.items()
for i in mylist:
  print(i)

('a', 'python')
('b', 'java')
('c', 'c++')

In [ ]:
#W.a.p to find the 5 letter words in the given sting, in a list:
s="This is computer class There are ten students"
L1=[]
L=[]
L=s.split()
for i in L:
  if len(i)==5:
    L1.append(i)
print("op:",L1)

op: ['class', 'There']

In [ ]:
#w.a.p to accept a list where each item is a sentence and show sentences beginning with 'T' :
l1=[]
l=[]
l=[input("enter l:")]
for i in range(len(l)):
  if l[i][0]=='T' or l[i][0]=='t':
    print(l[i])

enter l:hellothere

In [ ]:
#accept email ids of n no. of students and create two tuples that one contains username and other domain name:
L1=[]
L=[]
tu=()
td=()
n=int(input("enter the no. of students"))
for i in range(n):
  email=input("Enter the email id")
  L.append(email)
for i in L:
  L1=i.split('@')
  tu=tu+(L1[0],)
  td=td+(L1[1],)
print(tu,td)

enter the no. of students3
Enter the email idjoe@gmail.com
Enter the email idjoe5@gmail.com
Enter the email idjo4444e@gmail.com
('joe', 'joe5', 'jo4444e') ('gmail.com', 'gmail.com', 'gmail.com')

In [ ]:
#annual exam questions(21-22):
#1:
l=[3,4,5,6]
for i in l:
  if i%2==0:
    print('*',i-1,sep='$',end='+')
  elif i%3==0:
    print(2+i*2,end='_')
  else:
    print(i,end='!')

8_*$3+5!*$5+

In [ ]:
#2:
c={1:'may',2:'june',3:'july'}
c.items()

dict_items([(1, 'may'), (2, 'june'), (3, 'july')])

In [ ]:
#read an integer and print the no. of digits in it and print the reverse of it. Print the sum of all even digits and sum of all digits
n=int(input("Enter the digits:"))
m=str(n)
print(len(m))
print(m[::-1])
se=so=0
while n>0:
  r=n%10
  if r%2==0:
    se=se+r
  else:
    so=so+r
  n=n//10
print("sum of even no.:",se,"\nsum of odd no.:",so)

Enter the digits:1234
4
4321
sum of even no.: 6
sum of odd no.: 4

In [ ]:
# Harshad Number
number = int(input('Enter number: '))
copy = number
digit_sum = 0
while number:
    digit_sum += number%10
    number //= 10
if copy%digit_sum == 0:
    print('%d is Harshad Number' % (copy))
else:
    print('%d is Not Harshad Number' % (copy))

Enter number: 153
153 is Harshad Number